.App {
  text-align: center;
}


button {
  padding: 10px 20px;
  background-color: #3a99ff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}

button:hover {
  background-color: #004895;
  cursor: pointer;
}

.container {
  margin-left: 30vw;
  margin-top: 100px;
  text-align: left;
}